<section class="aboutme">
    <div class="wrapper">
        <h3 class="aboutme_h3">About Me</h3>
     <article class="aboutme_article">
        <div class="aboutme_div">
            <img class="aboutme_img" src="/njm.jpg" alt="Neify Martinez">
        </div>
        <div class="aboutme_txt">
            <p>Hi my name is Neify Martinez I'm most passionate about giving back to the community, and my goal is to pursue this passion within the field of software engineering. In my free time I like working on open source projects.</p>
        </div>
        
    </article>
    <a target="_blank" href="/curriculum.docx" class="btn">Resume</a>
    </div>
    
</section>