<section class="aboutme">
    <div class="wrapper">
        <h3 class="aboutme_h3">About me</h3>
     <article class="aboutme_article">
        <div class="aboutme_div">
            <img class="aboutme_img" src="/njm.jpg" alt="Neify Martinez">
        </div>
        <div class="aboutme_txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dignissimos! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, ab aliquid. Harum, deserunt? Tempora beatae ducimus eligendi, molestias suscipit consequatur!</p>
        </div>
    </article>
    </div>
    
</section>