<section class="section_contact">
    <div class="wrapper">
        <form class="contact_form">
            <div class="contact_form_header">
                <h2>Contact</h2>
            </div>
            <div class="contact_form_body">
                <input placeholder="whasapp" type="number">
                <input placeholder="example@gmail.com" type="email">
                <textarea placeholder="write a mensj" name="" id="mensj" cols="30" rows="10"></textarea>
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</section>