<section class="landingPage">
    <article class="landingPage_article">
        <h1 class="landingPage_h1">Neify</h1>
        <span class="landingPage_span">Martinez</span>
        <h2 class="landingPage_h2">Web Developer</h2>
        
        <div class="landingPage_links">
            <a href="https://www.linkedin.com/in/neify-martinez-a8a8b8b4/" target="_blank" class="landingPage_link">
                Linked<i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/NeifyMartinez" target="_blank" class="landingPage_link">
                Github<i class="fab fa-github"></i>
            </a>
        </div>
        
    </article>
</section>