<section class="wrapper">
    <div class="project">
        <div class="project-image">
            <img src="/img2.jpg" alt="project1">
        </div>
        <div class="project-info">
            <h2>Project 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                Lorem
    </div>

    <div class="project-image">
        <img src="/img1.jpg" alt="project1">
    </div>
    <div class="project-info">
        <h2>Project 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
            Lorem
</div>
</section>