:root {
  --color-principal: #000000;
  --color-secundario: #0B0C0C;
  --color-hover: #363C3B;
  --color-body: #fff1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

body {
  background-color: var(--color-body);
}

ul {
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}

.btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-principal);
  border: 1px solid var(--color-principal);
  border-radius: 3px;
  padding: .5rem 1rem;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  color: var(--color-hover);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32) inset;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32) inset;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32) inset;
}

.header {
  background: var(--color-principal);
}

.navbar {
  max-width: 992px;
  margin: 0 auto;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  font-size: 2rem;
}

.navlink {
  transition: 0.5s ease;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background: #fff;
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    position: absolute;
    left: -120%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background: var(--color-secundario);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menu_li {
    padding: 16px 0;
    width: 100%;
    transition: 0.3s ease;
  }

  .menu_li:hover {
    background-color: var(--color-hover);
  }

  .menu.active {
    left: 0;
  }
}

/*LANDING PAGE STYLES*/

.landingPage {
  max-width: 992px;
  min-height: 70vh;
  margin: 10vh auto 0 auto;
}

.landingPage_article {
  height: 70vh;
  display: flex;
  padding: 0 0 0 20px;
  flex-flow: column nowrap;
}

.landingPage_h1,
.landingPage_span {
  letter-spacing: -0.5rem;
  line-height: 10rem;
  font-weight: 900;
  font-size: 9rem;
}

.landingPage_h2 {
  letter-spacing: -0.6rem;
  line-height: 10rem;
  font-weight: 900;
  font-size: 8rem;
}

.landingPage_links {
  margin-top: 1.7rem;
}

.landingPage_links a {
  margin: 0 .8rem 0 0;
}

@media (max-width: 768px) {
  .landingPage {
    margin: 2rem auto;
  }

  .landingPage_article {
    height: 100vh;
    padding: 0 0 0 20px;
  }

  .landingPage_h1,
  .landingPage_span {
    font-size: 5rem;
  }

  .landingPage_h1,
  .landingPage_span,
  .landingPage_h2 {
    line-height: 7rem;
  }

  .landingPage_h2 {
    font-size: 4rem;
  }

  .landingPage_links a {
    font-size: 1.2rem;
    padding: .3rem .5rem;
  }
}

/*STYLES ABOUT ME*/

.aboutme {
  padding: 3.7em;
  text-align: center;
  margin: 10rem auto;
}

.wrapper {
  max-width: 992px;
  margin: 2em auto;
}

.aboutme .aboutme_h3 {
  font-size: 3rem;
}

.aboutme_article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 350px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3em;
}

.aboutme_div {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  align-items: center;
}

.aboutme_img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
}

.aboutme_txt {
  display: flex;
  font-size: 1.6rem;
  line-height: 1.8rem;
}


@media (max-width: 768px) {
  .aboutme {
    margin: 0 auto;
  }
  .aboutme_article {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
  }

  .aboutme_div {
    max-width: 200px;
    max-height: 200px;
    padding: 2rem;
  }

  .aboutme_img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .about_txt {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 2rem;
  }
}

/* Contact*/

.section_contact {
  padding: 3em;
  text-align: center;
}

.contact_form {
  max-width: 500px;
  margin: 10rem auto;
}

.contact_form_header {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact_form_body {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.contact_form_input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact_form_textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
}


/* Projectos */

.project {
  padding: 3em;
  text-align: center;
}

.project-image {
  max-width: 500px;
  margin: 0 auto;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-info {
  display: flex;
  flex-flow: column nowrap;
  padding: 40px 0 20px 0;
  margin-bottom: 2rem;
}

.project-info_h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}