:root {
  --color-principal: #d4a276;
  --color-secundario: #e7bc91;
  --color-hover: #f3d5b5;
  --color-body: #ffedd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Blinker", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--color-body);
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.header {
  background: var(--color-principal);
}

.navbar {
  max-width: 992px;
  margin: 0 auto;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  font-size: 2rem;
}

.navlink {
  transition: 0.5s ease;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background: #000;
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    position: absolute;
    left: -120%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background: var(--color-secundario);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menu_li {
    padding: 16px 0;
    width: 100%;
    transition: 0.3s ease;
  }

  .menu_li:hover {
    background-color: var(--color-hover);
  }
  .menu.active {
    left: 0;
  }
}

/*LANDING PAGE STYLES*/

.landingPage {
  max-width: 992px;
  min-height: 88vh;
  margin: 0 auto;
}
.landingPage_article {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.landingPage_h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
.landingPage_h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.landingPage_link {
  background-color: var(--color-hover);
  margin: 0.5em;
  padding: 0.5em;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}


/*STYLES ABOUT ME*/

.aboutme {
  padding: 3.7em;
  text-align: center;
}

.wrapper {
  max-width: 992px;
  margin: 2em auto;
}

.aboutme .aboutme_h3 {
  font-size: 1.8rem;
}

.aboutme_article {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-template-rows: 350px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3em;
  
}
.aboutme_div {
  display: flex;
  max-width: 200px;
  max-height: 150px;
  justify-content: center;
  align-items: center;
}
.aboutme_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutme_txt {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  .aboutme_article {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
  }
  .aboutme_div {
    max-width: 200px;
    max-height: 200px;
    padding: 2rem;
  }
  .aboutme_img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }
  .about_txt {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 2rem;
  }
}

/* Contact*/

.section_contact {
  padding: 3em;
  text-align: center;
}

.contact_form  {
  max-width: 500px;
  margin: 0 auto;
}

.contact_form_header {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.contact_form_body {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.contact_form_input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact_form_textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact_form_btn {
  background-color: var(--color-principal);
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
}